name: CD

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy via SSH
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: "/home/${{ secrets.REMOTE_USER }}/rmud3"
          SCRIPT_AFTER_REQUIRED: true
          SCRIPT_AFTER: |
            cd /home/${{ secrets.REMOTE_USER }}/rmud3
            killall node
            npm run start:prod 2>&1 server.log &
